body {
  color: white;
  background-color: rgb(40, 40, 40);
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif 
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  color: darkgray;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgb(0, 176, 0);
  text-align: center;
}

.center {
  text-align: center;
}

.name {
  color: rgb(0, 176, 0);
}

footer img {
  width: 40px;
  height: 40px;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  margin: 20px;
  text-align: center;
}

.container {
  padding: 0px 50px;
}

nav a:hover {
  color: green;
}